<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Admin | Trouve Ton Film{% endblock %}</title>
    <link rel="stylesheet" href="https://cdn.simplecss.org/simple.css">
</head>
<body>
    <header>
        <h1>Admin - Trouve Ton Film</h1>
        <nav>
            <a href="{{ path('admin_movie_list') }}">Films</a>
            <a href="{{ path('app_logout') }}">Déconnexion</a>
        </nav>
    </header>

    <main>
        {% for label, messages in app.flashes %}
            {% for message in messages %}
                <div class="flash-{{ label }}">{{ message }}</div>
            {% endfor %}
        {% endfor %}

        {% block body %}{% endblock %}
    </main>
</body>
</html>
